/.vs/ParseXmlProj/v15/.suo
/.vs/ParseXmlProj/v15/Server/sqlite3/storage.ide-shm
/ParseXmlProj/bin/Debug/ParseXmlProj.exe
/ParseXmlProj/bin/Debug/ParseXmlProj.pdb
/ParseXmlProj/obj/Debug/ParseXmlProj.csprojAssemblyReference.cache
/ParseXmlProj/obj/Debug/ParseXmlProj.exe
/ParseXmlProj/obj/Debug/ParseXmlProj.pdb
/StorageDownloader/bin/Debug/StorageDownloader.exe
/StorageDownloader/bin/Debug/StorageDownloader.pdb
/StorageDownloader/obj/Debug/StorageDownloader.csprojAssemblyReference.cache
/StorageDownloader/obj/Debug/StorageDownloader.exe
/StorageDownloader/obj/Debug/StorageDownloader.pdb
/.vs/ParseXmlProj/v15/.suo
/ParseXmlProj/bin/Debug/ParseXmlProj.exe
/ParseXmlProj/bin/Debug/ParseXmlProj.pdb
/ParseXmlProj/obj/Debug/ParseXmlProj.csprojAssemblyReference.cache
/ParseXmlProj/obj/Debug/ParseXmlProj.exe
/ParseXmlProj/obj/Debug/ParseXmlProj.pdb
/.vs/ParseXmlProj/v15/.suo
/ParseXmlProj/bin/Debug/EntityFramework.dll
/ParseXmlProj/bin/Debug/EntityFramework.SqlServer.dll
/ParseXmlProj/bin/Debug/EntityFramework.SqlServer.xml
/ParseXmlProj/bin/Debug/EntityFramework.xml
/ParseXmlProj/bin/Debug/ParseXmlProj.exe.config
/ParseXmlProj/obj/Debug/ParseXmlProj.csproj.CoreCompileInputs.cache
/ParseXmlProj/obj/Debug/ParseXmlProj.csproj.FileListAbsolute.txt
/ParseXmlProj/obj/Debug/ParseXmlProj.csprojAssemblyReference.cache
/ParseXmlProj/obj/Debug/ParseXmlProj.exe
/ParseXmlProj/obj/Debug/ParseXmlProj.pdb
/StorageDownloader/bin/Debug/StorageDownloader.exe.config
/StorageDownloader/obj/Debug/StorageDownloader.csproj.CoreCompileInputs.cache
/StorageDownloader/obj/Debug/StorageDownloader.csproj.FileListAbsolute.txt
/StorageDownloader/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/StorageDownloader/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/StorageDownloader/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ParseXmlProj/obj/Debug/ParseXmlProj.exe
/.vs/ParseXmlProj/v15/.suo
/ParseXmlProj/obj/Debug/ParseXmlProj.csproj.CoreCompileInputs.cache
/ParseXmlProj/obj/Debug/ParseXmlProj.csproj.FileListAbsolute.txt
/ParseXmlProj/obj/Debug/ParseXmlProj.csprojAssemblyReference.cache
/ParseXmlProj/obj/Debug/ParseXmlProj.exe
/ParseXmlProj/obj/Debug/ParseXmlProj.pdb
/.vs/ParseXmlProj/v15/.suo
/ParseXmlProj/obj/Debug/ParseXmlProj.csproj.CoreCompileInputs.cache
/ParseXmlProj/obj/Debug/ParseXmlProj.csproj.FileListAbsolute.txt
/ParseXmlProj/obj/Debug/ParseXmlProj.csprojAssemblyReference.cache
/ParseXmlProj/obj/Debug/ParseXmlProj.exe
/ParseXmlProj/obj/Debug/ParseXmlProj.pdb
/.vs/ParseXmlProj/v15/.suo
/Monitoring/bin/Debug/netcoreapp2.0/Monitoring.deps.json
/Monitoring/bin/Debug/netcoreapp2.0/Monitoring.dll
/Monitoring/bin/Debug/netcoreapp2.0/Monitoring.pdb
/Monitoring/bin/Debug/netcoreapp2.0/Monitoring.runtimeconfig.dev.json
/Monitoring/bin/Debug/netcoreapp2.0/Monitoring.runtimeconfig.json
/Monitoring/obj/Debug/netcoreapp2.0/Monitoring.csproj.FileListAbsolute.txt
/Monitoring/obj/Debug/netcoreapp2.0/Monitoring.csprojAssemblyReference.cache
/Monitoring/node_modules/
