/.vs/ParseXmlProj/v15/.suo
/.vs/ParseXmlProj/v15/Server/sqlite3/storage.ide-shm
/ParseXmlProj/bin/Debug/ParseXmlProj.exe
/ParseXmlProj/bin/Debug/ParseXmlProj.pdb
/ParseXmlProj/obj/Debug/ParseXmlProj.csprojAssemblyReference.cache
/ParseXmlProj/obj/Debug/ParseXmlProj.exe
/ParseXmlProj/obj/Debug/ParseXmlProj.pdb
/StorageDownloader/bin/Debug/StorageDownloader.exe
/StorageDownloader/bin/Debug/StorageDownloader.pdb
/StorageDownloader/obj/Debug/StorageDownloader.csprojAssemblyReference.cache
/StorageDownloader/obj/Debug/StorageDownloader.exe
/StorageDownloader/obj/Debug/StorageDownloader.pdb
/.vs/ParseXmlProj/v15/.suo
/ParseXmlProj/bin/Debug/ParseXmlProj.exe
/ParseXmlProj/bin/Debug/ParseXmlProj.pdb
/ParseXmlProj/obj/Debug/ParseXmlProj.csprojAssemblyReference.cache
/ParseXmlProj/obj/Debug/ParseXmlProj.exe
/ParseXmlProj/obj/Debug/ParseXmlProj.pdb
