/.vs/ParseXmlProj/v15/.suo
/.vs/ParseXmlProj/v15/Server/sqlite3/storage.ide-shm
/.vs/ParseXmlProj/v15/.suo
/Monitoring/node_modules/
/Monitoring/bin/
/Monitoring/bin/Debug/
/Monitoring/obj/
/Monitoring/obj/Debug/
/ParseXmlProj/obj/
/ParseXmlProj/obj/Debug/
/ParseXmlProj/bin/
/ParseXmlProj/bin/Debug/
/StorageDownloader/obj/
/StorageDownloader/obj/Debug/
/StorageDownloader/bin/
/StorageDownloader/bin/Debug/
/DBModel/obj/
/DBModel/obj/Debug/
/DBModel/bin/
/DBModel/bin/Debug/